GitPython==3.1.44
pandas==2.2.3
pyparsing==3.2.1
setuptools==65.5.0
SQLAlchemy==2.0.37
exfor_dictionary @ git+https://github.com/IAEA-NDS/exfor_dictionary@main
ripl3_json @ git+https://github.com/shinokumura/ripl3_json@main