requests
dnspython
matplotlib
numpy
pandas
plotly
pymongo==4.1.1
pymongo[srv]
ripl3_json @ https://github.com/shinokumura/ripl3_json.git
exfor_master @ https://github.com/IAEA-NDS/exfor_master.git
exfor_json @ https://github.com/IAEA-NDS/exfor_json.git
exfor_dictionary @ https://github.com/IAEA-NDS/exfor_dictionary.git
