GitPython==3.1.44
numpy==2.4.2
python-dateutil==2.9.0.post0
pandas==2.3.3
pyparsing==3.2.1
setuptools==80.9.0
SQLAlchemy==2.0.40
exfor_dictionary @ git+https://github.com/IAEA-NDS/exfor_dictionary@e21243b7013d489159528a141522c80d340fc57d
ripl3_json @ git+https://github.com/shinokumura/ripl3_json@0dcb58d58c90c6b7baf3473c5a28a149fe37e67d
jsonschema
pytest
